{% extends 'base.html.twig' %}

{% block title %}Liste des cours{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste des cours</h1>

    {% for cours in courses %}
        <div class="card mt-3" id="cours-{{ cours.id }}">
            <div class="card-body">
                <h4 class="card-title">{{ cours.titre }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Intervenant : {{  cours.teachers }}</h6>
                <p class="card-text"><small>Durée du cours : {{ cours.duration }}</small></p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
