{% extends 'base.html.twig' %}

{% block body %}
<article class="cours mt-5">
  
  <h2>{{ cours.titre }}</h2>
  <h6>{{ cours.teachers }}</h6>
  <hr>
  <p>
    <strong>
      Description du cours
    </strong>
  </p>
  <p>
    {{ cours.description }}
  </p>

</article>

{% endblock %}
